.home{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.create_form {
  display: flex;
  gap:4px;
}
.create_form input{
  width: 320px;
  padding: 10px;
  border: 2px solid;
  outline: none;
  font-size: 12px;
  border-radius: 2px;
  margin-bottom: 10px;
}
.create_form button{
  padding: 10px;
  background: black;
  cursor: pointer;
  color: white;
  margin-bottom: 10px;
}
.task{
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px 5px;
  margin-top: 2px;
  width: 385px;
  height: 35px;
  background-color: black;
  color: white;
}
.checkbox{
  display:flex;
  align-items: center;
}
.checkbox .icon{
  margin-right: 6px;
  font-size: 15px;
}
.task span{
  margin: 0px 5px;
}
.task .icon{
  cursor: pointer;
}
.todoEdit{
  text-decoration:line-through;
  color: red;
}